
.icon-Book {
	background-image: url('png/Book.png');
	background-repeat: no-repeat;
}

.icon-CrossFlameFUMCO {
	background-image: url('png/CrossFlameFUMCO.png');
	background-repeat: no-repeat;
}

.icon-CrossFlameWhite {
	background-image: url('png/CrossFlameWhite.png');
	background-repeat: no-repeat;
}

.icon-Heart {
	background-image: url('png/Heart.png');
	background-repeat: no-repeat;
}

.icon-People {
	background-image: url('png/People.png');
	background-repeat: no-repeat;
}