@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato:900italic,400italic);

body {
	font-family: $body-font;
}
%headline {
	font-family: $headline-font;
}
h1 {
	@extend %headline;
}
h2 {
	@extend %headline;
	font-style:italic;
	font-weight:900;
	margin-bottom: 0;
	}
h3 {
	@extend %headline;
	font-style:italic;
	font-weight:400;
	margin-top:0;
}