@import url(https://fonts.googleapis.com/css?family=Raleway|Lato:900italic,400italic);

body {
	font-family: $body-font;
	font-size: 100%;
}
%headline {
	font-family: $headline-font;
	padding: 0 5px 0 5px;
}
h1 {
	@extend %headline;
}
h2 {
	@extend %headline;
}
#mainHeader {
	color: white;
}
.bannerOverlayText {
	text-align: center;
	color:rgba(255,255,255,0.9);
	font-size: 2em;
	line-height: 1em;
}
.bannerOverlayText strong {
	font-size: 2em;
	text-transform: uppercase;
}
#mainNav a {
	text-decoration: none;
	font-weight: normal;
	text-transform: uppercase;
	font-size: .8em;
	color: white;
}
.threeColumn h1 {
	font-size: 2em;
}
.threeColumn .leader {
	font-size: 1em;
}
.threeColumn section {
	font-size: .9em;
	font-weight: normal;
	line-height: 1.8;
	text-align: center;
}
#pageFooter {
	color: white;
}
#newVisitorBar {
	font-size: .8em;
	line-height: 5em;
}
.leader {
	font-size: 1.2em;
	font-weight: bold;
}
#siteFooter {
	padding-left: 2em;
	line-height: 50px;
}
.buttonBig {
	text-transform: uppercase;
	line-height: 3.5em;
}