/* UMCOM Branding Guide */
$logo_redPrimary : rgb(228,0,43);
$logo_redMedium : rgb(175,39,47);
$logo_redDark : rgb(124,37,41);

/* Font selections */
$body-font : Raleway, sans-serif;
$headline-font : Lato, sans-serif;

/* Breakpoint variables */
$screen-small : 400px;
$screen-medium : 760px;
$screen-larger : 1000px;

