/* UMCOM Branding Guide */
$logo_redPrimary : #E4002B;
$logo_redMedium : #AD272F;
$logo_redDark : #7C2529;

/* Font selections */
$body-font : Raleway, sans-serif;
$headline-font : Lato, sans-serif;

/* Breakpoint variables */
$screen-small : 400px;
$screen-medium : 760px;
$screen-larger : 1000px;

